#ordem {
    width: 100%;
    max-width: 700px;
    margin: 100px auto 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;  
    
    display: flex;
    flex-direction: column;
}

#ordem table {
    width: 100%;
    max-width: 700px;
}

#ordem thead tr {
    width: 100%;
}

#ordem thead th {
    background-color: #da552f;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    
}


#ordem tbody {
    border-collapse: collapse; 
    width:  100%;    
}

#ordem tbody td {
    font-size: 14px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd; 
}



#ordem tbody a { 
    text-decoration: none;   
    padding: 3px 10px;
    margin: 0 0 0 5px;
    border-radius: 4px;
    border: 1px solid #da552f; 
    background: #FFF;
    color: #da552f;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;    
}

#ordem tbody a:hover {
    background: #da552f;
    border: 1px solid #da552f;;
    color: #FFF;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
        only screen 
        and (max-width: 700px), (min-device-width: 700px) 
        and (max-device-width: 100%)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #da552f;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
        }
    }